//Icons on main
.icon-boxed {
  padding: 2%;
  background: $white;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
  border: 1px solid $dark-blue;
  cursor: pointer;
  width: 40%;
  color: $dark-blue;
  text-align: center;
  transition-duration: 0.4s;
  .fa {
    padding-left: 5px;
    font-size: 20px;
  }
  span {
    font-weight: bold;
  }
  &:hover {
    background: $dark-blue;
    color: white;
  }
}

//Info boxes on main
.info-box {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  background-color: $white;
  overflow: auto;
}

//Treatments box & Next dates box
.treatments-box, .next-dates-box {
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  background: white;
  border-radius: 8px;
  padding: 25px;
}

.icon-boxed-treatments {
  padding: 2%;
  background: $black-grey;
  border-radius: 8px;
  display: block;
  margin: 20px auto;
  border: 1px solid $white;
  cursor: pointer;
  width: 90%;
  color: $white;
  text-align: center;
  transition-duration: 0.4s;
  .fa {
    padding-left: 5px;
    font-size: 20px;
  }
  span {
    font-weight: bold;
  }
  &:hover {
    background: $white;
    color: $black-grey;
    border: 1px solid $black-grey;
  }
}

#treatments-box-ul, #next-dates-ul {
  li {
    margin: 20px 0;
  }
}

#treatments-box-close, #next-dates-box-close {
  font-size: 30px;
  position: relative;
  margin-bottom: 10px;
  right: -90%;
  top: 0;
  cursor: pointer;
}

// Treatments List
#treatment-info {
  //header
  .list-no-active {
    .treatments-list-observations {
      display: none;
    }
  }
  .treatments-list-observations {
    color: $black;
    padding: 5px 2px;
    &.revision-list {
      background-color: $soft-green;
      border-left: 2px solid $dark-green;
      border-right: 2px solid $dark-green;
      border-bottom: 2px solid $dark-green;
    }
    &.mantenimiento-list {
      background-color: $soft-brown;
      border-left: 2px solid $dark-brown;
      border-right: 2px solid $dark-brown;
      border-bottom: 2px solid $dark-brown;
    }
    &.cuadrante-list {
      background-color: $soft-red;
      border-left: 2px solid $dark-red;
      border-right: 2px solid $dark-red;
      border-bottom: 2px solid $dark-red;
    }
    &.limpieza-list {
      background-color: $soft-blue;
      border-left: 2px solid $dark-blue;
      border-right: 2px solid $dark-blue;
      border-bottom: 2px solid $dark-blue;
    }
  }
  .treatments-box-list-header {
    font-weight: bold;
    color: $white;
    padding: 5px;
    &.cuadrante {
      background-color: $dark-red;
    }
    &.limpieza {
      background-color: $dark-blue;
    }
    &.revision {
      background-color: $dark-green;
    }
    &.mantenimiento {
      background-color: $dark-brown;
    }
    cursor: pointer;
    .treatments-list-title {
      text-transform: capitalize;
    }
    .treatments-list-date{
      float: right;
    }
  }
}

.svg-cuadrante {
  padding-left: 5px;
  vertical-align: sub;
}

.main {
  .navbar {
    margin-bottom: 0;
  }
  .cabecera {
    margin-bottom: 50px;
    .col-md-4 {
      margin: 10px auto;
    }
  }
}

.main-cabecera {
  color: $white;
  position: relative;
  padding-bottom: 200px;
  margin-bottom: -200px;
  h1 {
    text-align: center;
    padding-top: 20px;
    margin: 0 0 20px;
    font-family: 'Bree Serif', serif;
  }
  &:before {
    position: absolute;
    content: "";
    background: url('/images/city.jpg') top center no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 992px) {
  .main {
    .cabecera {
      margin-bottom: 150px;
    }
  }
  .main-cabecera {
    margin-bottom: -150px;
  }
  #treatment-info {
    width: 90%;
  }
  .treatments-box, .next-dates-box {
    width: 50%;
  }
}