#revision-box-add, #limpieza-box-add, #cuadrante-box-add, #mantenimiento-box-add {
  z-index: 9999;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 80%;
  background: white;
  border-radius: 8px;
  padding: 25px;
}

#revision-box-close, #limpieza-box-close, #cuadrante-box-close, #mantenimiento-box-close {
  font-size: 30px;
  position: relative;
  margin-bottom: 10px;
  right: -500px;
  top: 0;
  cursor: pointer;
}