
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-bg: #1f648b;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$switch-on: #31B0D5;
$switch-off: #E6E6E6;
$white: #fff;
$black: #000;
$grey: rgb(238,238,238);
$black-grey: #636B6F;
$dark-blue: #034f84;
$soft-blue: #92a8d1;
$dark-green: #405d27;
$soft-green: #82b74b;
$dark-brown: #b9936c;
$soft-brown: #dac292;
$dark-red: #c94c4c;
$soft-red: #eea29a;
