/** BUG autocomplete **/
.ui-front {
  z-index: 1000 !important;
}

/** Switch button (checkbox)*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input {
    display: none;
    &:checked + .slider {
      background-color: $switch-on;
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
      transform: translateX(28px);
    }
    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $switch-off;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      z-index: 2;
    }
    .on, .off {
      position: absolute;
      font-size: 10px;
      font-family: Verdana, sans-serif;
    }
    .on {
      color: $white;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 20%;
    }
    .off {
      color: $black;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 75%;
    }
    &.round {
      border-radius: 34px;
      &:before {
        border-radius: 50%;
      }
    }
  }
}
// FORM INPUTS
input[type=text] {
  width: 80%;
}
input {
  &:focus {
    border-color: $switch-on;
  }
}
textarea {
  width: 80%;
  margin: 10px 0;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  &:focus {
    border-color: $switch-on;
  }
}
// buttons
.button-form {
  margin-left: -32px;
  box-shadow: inset 0px 1px 0px 0px #1f648b;
  background-color: #1f648b;
  border: 1px solid #1f648b;
  color: $white;
  &:hover {
    background-color: steelblue;
  }
}

.bold {
  font-weight: bold;
}

// LIST
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// LINK
a:active {
  text-decoration: none;
}

// LOADER
#loader {
  color: $white;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 1002;
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  position: fixed;
  top: 30%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
//END LOADER

/** HEADER **/
// title
.cabecera-home {
  @keyframes fadeIn{
    0%{
      transform: rotate(0) translateY(-100px);
      opacity: 0;
    }
    100%{
      transform: rotate(0) translateY(0);
      opacity: 1;
    }
  }

  animation: fadeIn 1s forwards 0s ease;
}

// BACKGROUND BLOCK
.block-background {
  display: block;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1001;
}

/** Generic squares **/
.generic-squares {
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.22);
  height: 300px;
  width: 260px;
  margin: 0 auto;
  background: $white;
  border-radius: 2.5%;
  padding: 20px;
  color: grey;
  margin-bottom: 100px;
  .icon-square {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
    font-size: 3em;
    .fas {
      background: steelblue;
      padding: 20px;
      color: $white;
      border-radius: 50%;
    }
  }
  .link-square {
    padding-top: 20px;
    font-weight: bold;
    p {
      font-weight: normal;
    }
  }
  a {
    color: gray;
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
  &:hover {
    .icon-square {
      background-color: steelblue;
      margin: -41px -20px 0 -20px;
      padding: 41px 20px 20px 20px;
      transition: background 0.5s;
      border-radius: 2.5%;
      .fas {
        background: $white;
        color: steelblue;
        transition: background 0.5s;
      }
    }
  }
}

/** Container **/
#app {
  .container {
    position: relative;
    z-index: 1000;
  }
}