.card {
  /** Switch button (checkbox)*/
  .switch-container {
    padding: 5px 0;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
      display: none;
      &:checked + .slider {
        background-color: $switch-on;
      }
      &:checked + .slider:before {
        -webkit-transform: translateX(28px);
        -ms-transform: translateX(28px);
        transform: translateX(28px);
      }
      &:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $switch-off;
      -webkit-transition: .4s;
      transition: .4s;
      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: 2;
      }
      .on, .off {
        position: absolute;
        font-size: 10px;
        font-family: Verdana, sans-serif;
      }
      .on {
        color: $white;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 20%;
      }
      .off {
        color: $black;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 75%;
      }
      &.round {
        border-radius: 34px;
        &:before {
          border-radius: 50%;
        }
      }
    }
  }
  label {
    vertical-align: middle;
    width: 100px;
  }
  input[type="submit"] {
    margin-top: 20px;
  }
}